
.alert-wrapper {
    align-items:center ;
    justify-content: center;
    display: flex;
}

.alert-card {
    width: 80%;
    max-width: 80%;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color: #b2e1e9;
    height: fit-content;
    margin: 1rem auto;
    display:inline-block;
    color: #04434e;
    text-align: justify;
  }